@import 'normolize'
@import 'fonts'
@import 'elements'
@import 'header'

.main
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    background-image: url('../img/bg_main.jpg')
    min-height: 100vh
    overflow: hidden

    justify-content: space-between
    position: relative
    z-index: 1
    padding: 20px 0 2vw

    nav
        width: 90vw
        gap: 2%
        justify-content: space-between
        a
            width: 14vw
            display: block

        img
            display: block
            transition: all ease .2s
            &:hover
                transform: scale(1.1)

    &__logo
        display: block
        margin: 0 auto
        width: 11vw

    &__h1
        position: absolute
        z-index: -1
        top: 50%
        width: 38vw
        left: 10%
        height: 57%
        transform: translateY(-55%)
        img
            object-fit: contain
            object-position: center center
            display: block
            width: 100%
            height: 100%
            animation: upDown 1s ease infinite alternate-reverse

    &__img
        position: absolute
        top: 55%
        width: 65vw
        right: -6%
        height: 80%
        transform: translateY(-50%)
        z-index: -1111
        img
            object-fit: contain
            object-position: center center
            display: block
            width: 100%
            height: 100%

    .soc
        width: 430px
        max-width: 26vw
        justify-content: space-between
        a
            width: 30%
            padding: 20px
            border-radius: 10%

        img
            transition: all ease .2s
            display: block
            filter: drop-shadow(0 0 40px rgba(#ff66ff, 1))
            &:hover
                transform: scale(1.1)

    @media screen and ( max-width: 1000px )
        padding: 3vw 0 5vw
        .soc
            max-width: 74vw

        nav
            flex-wrap: wrap
            justify-content: center
            width: 100%
            gap: 0
            a
                width: 33vw
                order: 2

            img
                transform: scale(1.1)

        &__logo
            width: 100%
            height: 7vw
            object-fit: contain
            object-position: center center
            order: 1
            margin-bottom: 2vw

        &__h1
            top: 34%
            width: 79vw
            height: 30%
            transform: translateY(-55%)

        &__img
            width: 125vw
            height: 40%
            top: 46%
            right: -12%
            transform: none

.partners
    margin: 0 auto
    position: relative
    z-index: 1
    justify-content: center
    gap: 4%
    // overflow: hidden
    span
        display: block
        width: 300px
        max-width: 48%
        img
            display: block
            height: 5vw
            object-fit: contain
            transition: all ease .2s
            filter: drop-shadow(0 0 30px rgba(#ff66ff, .8))
            &:hover
                transform: scale(1.1)

    &__lif
        display: block
        position: absolute
        width: 20vw
        z-index: 1111
        right: -5%

    @media screen and ( max-width: 1000px )
        padding: 15vw 3vw
        flex-wrap: wrap
        justify-content: center
        gap: 6vw
        span
            width: 46%

            img
                height: unset

.about
    padding: 6vw 0
    .col
        width: 35vw
        margin: 0 auto

    p
        padding: 1vw
        margin-bottom: 2vw

    &__img
        width: 50vw

    @media screen and ( max-width: 1000px )
        display: block
        padding: 10vw 0
        overflow: hidden

        .col
            width: 90vw
            margin-bottom: 10vw

        &__heading
            width: 90%
            margin: 0 auto 2vw
            display: block

        p
            text-align: center
            padding: 0

        &__img
            display: block
            width: 120vw
            max-width: unset
            position: relative
            left: -10vw

.tekenomics
    padding: 100px 0
    align-items: flex-start
    .col
        width: 35vw
        margin: 0 auto
        &:first-child
            text-align: center

    &__heading
        max-width: 90%
        max-height: 150px
        margin: 0 0 1.5vw 1vw
        display: block
        &.--pulse
            animation: pulse 1s ease infinite alternate-reverse

    p
        margin-bottom: 2vw

    @media screen and ( max-width: 1000px )
        display: block
        .col
            width: 90vw
            margin-bottom: 15vw
            text-align: center
            &:last-child
                max-width: 73vw

        &__heading
            margin: 0 auto 3vw

        p
            margin-bottom: 7vw

.footer
    padding: 4vw 21vw 2vw 3vw
    position: relative
    z-index: 1
    gap: 3vw
    align-items: flex-end
    &__logo
        width: 9vw

    &__descr
        width: 31vw

    &__base
        width: 12vw
        margin: 0 auto

    &__screem
        position: absolute
        bottom: -5vw
        min-height: 90%
        object-fit: contain
        object-position: bottom right
        right: -4vw
        width: 25vw

    @media screen and ( max-width: 1000px )
        flex-wrap: wrap
        padding: 4vw
        align-items: center
        img
            display: block
            margin: 0 0 2vw

        &__logo
            width: 30vw
            order: 2

        &__descr
            order: 1
            width: 90vw

        &__base
            width: 20vw
            order: 3

        &__base
            margin: 0 auto 0 3vw !important

        &__screem
            width: 45vw
            bottom: -11vw
            right: -10vw

@keyframes pulse
    0%
        transform: scale(.94)
    100%
        transform: scale(1.08)

@keyframes upDown
    0%
        transform: translateY(10px)
    100%
        transform: translateY(-10px)
